<app-content-wrapper centerContent>
  <app-bordered-card>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

      @if(isRegisterForm){
        <app-form-group>
          <div card-label>
            Name
          </div>
          <div card-input>
            <input nz-input placeholder="Enter Name" id="name" type="text" formControlName="name" />
          </div>
        </app-form-group>
      }

      <app-form-group>
        <div card-label>
          Email
        </div>
        <div card-input>
          <input nz-input placeholder="Enter Email" id="email" type="text" formControlName="email" />
        </div>
      </app-form-group>

      <app-form-group>
        <div card-label>
          Password
        </div>
        <div card-input>
          <input nz-input placeholder="Enter Password" type="password" autocomplete="new-password" id="password" formControlName="password" />
        </div>
      </app-form-group>

      <button nz-button nzType="primary" type="submit">Submit</button>
    </form>
  </app-bordered-card>
</app-content-wrapper>
