<app-content-wrapper centerContent>
  <app-bordered-card>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <app-form-group>
        <div card-label>
          Email
        </div>
        <div card-input>
          <input id="email" type="text" formControlName="email" />
        </div>
      </app-form-group>

      <app-form-group>
        <div card-label>
          Password
        </div>
        <div card-input>
          <input type="password" autocomplete="new-password" id="password" formControlName="password" />
        </div>
      </app-form-group>

      <button>Submit</button>
    </form>
  </app-bordered-card>
</app-content-wrapper>
