:host {
  display: block;
  position: relative;
  height: 300px;
  width: 100%;
  background-position: 50% 22%;
  background-image: url('../../../assets/backgrounds/search-bg.svg');
  background-color: #caf0f8cc;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 25px;
}

input:focus {
  outline: none;
  border-color: grey;
}
