<app-search-bar></app-search-bar>
<app-content-wrapper extract>
  <h2>Single File Upload</h2>
  <input
    type="file"
    class="file-input"
    (change)="onChange($event)"
    #fileUpload
  />

  @if (file) {
    <div class="image-preview">
      <section class="file-info">
        File details:
        <ul>
          <li>Name: {{ file.name }}</li>
          <li>Type: {{ file.type }}</li>
          <li>Size: {{ file.size }} bytes</li>
          <li>
            <img [src]="filePath" alt="" />
          </li>
        </ul>
      </section>

      <button (click)="onUpload()">Upload the file</button>
      @switch (status) {
        @case ('uploading') {
          <p>⏳ Uploading...</p>
        }
        @case ('success') {
          <p>✅ Done!</p>
        }
        @case ('fail') {
          <p>❌ Error!</p>
        }
        @default {
          <p>😶 Waiting to upload...</p>
        }
      }
    </div>
  }
</app-content-wrapper>

<ng-component #childRef> Hello</ng-component>
