<app-content-wrapper centerContent>
  @if(!preview){
    <input type="file" class="file-input"
           (change)="updateImageDisplay($event)" #fileUpload>
  }

  @if(preview){
    <div class="image-container">
      <img class="image-preview " [src]="preview" alt=""/>
      <button nz-button nzType="primary" (click)="preview = null">Delete</button>
      <button nz-button (click)="compressFile()">Compress</button>
      @if(compressed){
        <img class="image-preview " [src]="compressed" alt=""/>
        <button nz-button (click)="download()">Download</button>
      }
    </div>

  }
</app-content-wrapper>
